*~
src/*~
src/*.o
src/*/*.o
src/libdcastle.a
src/.sconsign.dblite
src/buildinfo.h
src/version.h
src/debug
src/dcastle.stable
src/dcastle.master
src/Makefile
scripts/*.o
lib/*.last
lib/*/*.last
lib/corpse.save
lib/leaderboard.txt
lib/onlinewho.txt
lib/special.txt
lib/ssh_host_rsa_key*
lib/wizlist.txt
build/
