src/*.o
src/*/*.o
scripts/*.o
src/libdcastle.a
src/.sconsign.dblite
src/*~
*~
lib/corpse.save
lib/onlinewho.txt
lib/leaderboard.txt
lib/objects/*.last
lib/wizlist.txt
lib/mobs/*.last
lib/special.txt
lib/zonefiles/*.zon.last
src/debug
src/dcastle.stable
src/dcastle.master
src/Makefile
src/version.h
build/
lib/wizlist.txt
lib/ssh_host_rsa_key*
src/buildinfo.h
