src/*.o
src/*/*.o
scripts/*.o
src/dcastle.debug
src/showplayer
src/libdcastle.a
src/.sconsign.dblite
src/*~
*~
lib/corpse.save
lib/onlinewho.txt
lib/leaderboard.txt
lib/objects/*.last
lib/wizlist.txt
lib/mobs/*.last
lib/special.txt
src/debug
src/dcastle.stable
src/dcastle.master
src/CMakeFiles
src/cmake_install.cmake
src/CMakeCache.txt
src/CMakeLists.txt
src/.qt/QtDeploySupport.cmake
src/dcastle_autogen/moc_predefs.h
src/dcastle_autogen/mocs_compilation.cpp
src/Makefile
src/*.a
src/*_autogen/

