name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install ubuntu software
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install gcc-8-multilib g++-8-multilib gcc-multilib
        sudo apt install g++-multilib scons libcurl4:i386 
        sudo apt install libpq-dev:i386 libpq5:i386 libcurl4-openssl-dev:i386
        sudo apt install unzip zlib1g-dev:i386
        sudo apt install libfmt-dev:i386
    - name: install twitcurl
      run: |
        wget https://github.com/swatkat/twitcurl/archive/master.zip
        unzip master.zip
        cd twitcurl-master/libtwitcurl
        export CC='g++ -m32'
        make -e
        sudo CC='g++ -m32' make -e install
        sudo sed 's:include/curl/curl.h:curl/curl.h:g' -i /usr/local/include/twitcurl.h
    - name: make
      run: make -C src -j3 debug

